body {
	color: $black;
}

h2 {
	font-family: $displayFont;
	font-size: 3rem;
	margin: 0.5rem 0 3rem;
	text-transform: capitalize;
	color: $black;
}

h5 {
	color: $titleColor;
	font-size: 0.7rem;
	margin: 0.5rem 0 1rem;
	text-transform: uppercase;
	letter-spacing: 5px;
}

p {
	font-size: 1.1rem;
	color: $paragraphColor;
	line-height: 1.8;
	margin: 0.5rem 0 3rem;
	font-weight: 300;
}

a {
	transition: all 0.5s ease-in-out;
	&:hover {
		color: $red;
	}
}

.texturebg {
	background: $greyBG;
	background-image: url('../assets/texture.jpg');
	background-position: center;
	background-repeat: repeat;
}
