header {
	position: absolute;
	color: #fff;
	width: 100%;
	padding: 20px;
	z-index: 20;

	.header-nav {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		display: inline-block;
		padding: 0 10px;
	}

	.nav {
		display: inline-block;
		text-align: right;
	}

	a {
		display: inline-block;
		color: #ffffff;
		text-decoration: none;
		padding: 0 10px;
	}

	.fa-bars {
		display: none;
		font-size: 2rem;
	}

	/* Hide Hamburger */
	#hamburger {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.header-nav {
		justify-content: center;
	}
}
