header {
	position: absolute;
	color: #fff;
	width: 100%;
	padding: 20px;
	z-index: 20;

	.header-nav {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		display: inline-block;
		padding: 0 10px;
	}

	.nav {
		display: inline-block;
		text-align: right;
	}

	a {
		display: inline-block;
		color: #ffffff;
		text-decoration: none;
		padding: 0 10px;
	}

	.fa-bars {
		display: none;
		font-size: 2rem;
	}

	/* Hide Hamburger */
	#hamburger {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	header {
		padding: 0 !important; // This will override material UI's container

		.header-nav {
			flex-direction: column;
			justify-content: stretch;
			height: 100vh;
			padding: 0 !important; // This will override material UI's container
		}
		.fa-bars {
			display: block;
			margin: 20px 10px;
		}

		.nav {
			position: absolute;
			top: -1000px;
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 100%;
			height: 0;
			transition: all 0.5s linear;
			align-content: center;
		}
		input:checked ~ .nav {
			position: relative;
			top: 0;
			background-color: rgba(165, 42, 42, 0.9);
			height: 100%;
		}

		/* Break down menu items into vertical */
		a {
			box-sizing: border-box;
			width: 100%;
			height: calc(100% / 4);
			padding: 40px;
			border-top: 1px solid black;
		}
		a:hover {
			background-color: burlywood;
		}
	}
}
