#OurStory {
	padding: 100px 0;

	.quote {
		color: $paragraphColor;
		margin: 0.5rem 0 3rem;
		strong {
			color: $black;
			font-weight: 700;
		}
	}

	.reserve-btn {
		font-family: $displayFont;
		display: inline-block;
		border: 1px solid $black;
		padding: 20px 40px;
		text-align: center;
		text-decoration: none;
		color: $black;
		text-transform: uppercase;
		transition: all 0.5s ease-in-out;
		&:hover {
			background: $red;
			color: #fff;
		}
	}

	.video-img {
		max-width: 400px;
		height: 550px;
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.1) 0, #002d77 100%);
		background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.1) 0, #000 100%),
			url('../assets/cookingart.jpg');
		background-position: center;
		background-size: cover;
		margin-top: 40px;
	}
}
