#TopImg {
	position: relative;
	background: black;
	min-height: 500px;
	height: 100vh;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0, #002d77 100%);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0, #000 100%),
		url('../assets/topimg.jpg');
	background-position: center;
	background-size: cover;

	.title {
		padding: 150px 0 80px;
		text-align: right;

		h1 {
			font-family: $displayFont;
			text-transform: uppercase;
			color: #fff;
			font-weight: 300;
			font-size: 6rem;
			padding: 0;
		}

		h5 {
			text-transform: uppercase;
			color: #fff;
			font-weight: 300;
		}
	}

	.contact-info {
		width: 100%;
		position: absolute;
		bottom: 50px;
		right: 0;
		text-align: right;
		color: $paragraphColor;
		font-size: 0.8rem;
		line-height: 1.5rem;

		strong {
			font-weight: bold;
			color: #fff;
		}

		.booking {
			margin-bottom: 10px;
			color: $paragraphColor;
		}

		h2 {
			font-size: 2rem;
			margin-bottom: 20px;
			color: #fff;
		}
	}
}

@media only screen and (max-width: 800px) {
	#TopImg {
		.title {
			h1 {
				font-size: 3rem;
			}
		}
	}
}
